* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
.flex-container{
	display: flex;
  flex-direction: column;
}
body{
	background-color: #4c1000;
}
.flex-container {
  max-height: 800px;
}
#panel1,
#panel2,
#panel3 {
	margin: auto;
	border-radius: 15px;
	border: none;
	transition-timing-function: ease;
}
#panel2,
#panel3{
	opacity: 0.0;
	width: 0px;
	height: 0px;
	position: inherit;
	visibility: inherit;
}
#panel1{
	width: 20px;
	height: 20px;
	position: relative;
	margin-top: 10px;
	background-color: hsla(8, 96%, 59%, 0.73);
	border:hsla(8, 96%, 59%, 0.73) solid 1px;
	cursor: pointer;
	transition: width .2s,height .5s;		
}
#panel2{
	margin-top: 2px;
	background-color: hsla(286, 45%, 46%, 0.73);
	border:hsla(286, 45%, 46%, 0.73) solid 1px;	
	transition: width .2s,height .5s;	
}
#panel3{
	margin-top: 3px;
	background-color: hsla(41, 88%, 50%, 0.73);
	border:hsla(41, 88%, 50%, 0.73) solid 1px;
	transition: width .4s,height .5s;
}
#panel1:hover{
	width: 1120px;
	height: 320px;	
}
#panel1.activate{
	width: 1120px;
	height: 320px;	
	background-color: hsla(8, 96%, 59%, 0.73);
	border:hsla(8, 96%, 59%, 0.73) solid 1px;
}
#panel1.activate:hover{
	width: 1120px;
	height: 900px;
	background-color: #4c1000;
	border:hsla(8, 96%, 59%, 0.73) solid 1px;
}
#panel1:hover + #panel2{
	opacity: 1.0;
	width: 1120px;
	height: 250px;
	top: 323px;
}
#panel2.activate{
	opacity: 1.0;
	width: 1120px;
	height: 250px;
	top: 323px;
	background-color: hsla(286, 45%, 46%, 0.73);
	border:hsla(286, 45%, 46%, 0.73) solid 1px;
}
#panel2.activate:hover{	
	height: 900px;
	background-color: #4c1000;
	border:hsla(286, 45%, 46%, 0.73) solid 1px;
} 
#panel1:hover + #panel2 + #panel3{
	opacity: 1.0;
	width: 1120px;
	height: 250px;
	transition-delay: .18s;
	top: 255px;
}
#panel3.activate{
	opacity: 1.0;
	width: 1120px;
	height: 250px;
	top: 255px;
	background-color: hsla(41, 88%, 50%, 0.73);
	border:hsla(41, 88%, 50%, 0.73) solid 1px;
}
#panel3.activate:hover{
	height: 900px;
	background-color: #4c1000;
	border:hsla(41, 88%, 50%, 0.73) solid 1px;
} 