html {
 background-color: rgba(76, 16, 0, 1);
}
#panel1,
#panel2,
#panel3 {
	margin: auto;
	border-radius: 15px;
	border: none;
}
#panel2,
#panel3{
	opacity: 0.0;
	width: 0px;
	height: 0px;
	position: inherit;
	visibility: inherit;
	transition-timing-function: ease-out;	
}
#panel1{
	width: 20px;
	height: 20px;
	position: relative;
	margin-top: 10px;
	background-color: hsla(8, 96%, 59%, 0.73);
	cursor: pointer;
	transition: width .2s,height .8s;
	transition-timing-function: ease;	
}
#panel2{
	margin-top: 2px;
	background-color: hsla(286, 45%, 46%, 0.73);	
	transition: width .2s,height .8s;	
}
#panel3{
	margin-top: 3px;
	background-color: hsla(41, 88%, 50%, 0.73);
	transition: width .4s,height .15s;
}
#panel1:hover{
	width: 1120px;
	height: 320px;
}
#panel1:hover + #panel2{
	opacity: 1.0;
	width: 1120px;
	height: 250px;
	transition-delay: .18s;
	top: 323px;
}
#panel1:hover + #panel2 + #panel3{
	opacity: 1.0;
	width: 1120px;
	height: 250px;
	transition-delay: .5s;
	top: 255px;
}